.element-wrapper {
  margin: 13px 0;
}

.wrapper {
  margin: 0;
  box-sizing: border-box;
}

.sb-container {
  border: 1px solid rgb(236, 239, 243);
  padding: 32px 24px;
  max-width: 400px;
  border-radius: 12px;
  background-color: rgb(250, 252, 255);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
}
